.reviewForm {
	display: grid;
	grid-template-columns: [start] auto 1fr auto [end];
	gap: 20px 30px;

	font-size: 14px;
	line-height: 24px;
}

.description {
	grid-column: start / end;
}

.submit {
	grid-column: start / end;
}
